import("rJava")
export("rorsmaa.create")
export("rorsmaa.getValueFunctionVals")
export("rorsmaa.getValueFunctionEvals")
export("rorsmaa.singleValueFunction")
export("rorsmaa.allValueFunctions")
export("rorsmaa.compute")
export("rorsmaa.evaluateAlternative")
export("rorsmaa.getMisses")
export("rorsmaa.getRAIs")
export("rorsmaa.getPOIs")
export("utagms.create")
export("utagms.solve")
export("utagms.printModel")
export("utagms.getNecessaryRelation")
export("utagms.getPossibleRelation")
export("utagms.setStrictValueFunctions")
export("ror.addPreference")
