import("rJava")
import("ROI")
import("igraph")
S3method(plot, binary.relation)
S3method(plot, valued.relation)
S3method(plot, smaa.acceptabilities)
export("rorsmaa")
export("utagms")
export("utagms.strong.necessary")
export("sample.vfs.gibbs")
export("sample.vfs.rejection")
export("maximalvectors")
export("maximalvectors.indices")
